In [ ]:
#list Methods
    append()	Adds an element at the end of the list
    clear()	Removes all the elements from the list
    copy()	Returns a copy of the list
    count()	Returns the number of elements with the specified value
    extend()	Add the elements of a list (or any iterable), to the end of the current list
    index()	Returns the index of the first element with the specified value
    insert()	Adds an element at the specified position
    pop()	Removes the element at the specified position
    remove()	Removes the first item with the specified value
    reverse()	Reverses the order of the list
    sort()      sorting all elements ascending or descending

In [ ]:

a = '1/2/3/4/h'
b = []
for i in a.split('/'):
    if i.isdigit():
        b.append(int(i))
    else:
        b.append(i)
print(b)

In [ ]:
d = '1/2/3/4'
f=[]
for j in d.split('/'):
    #print(j)
    f.append(int(j))
print(f)

In [ ]:
a=input("Enter the Password:")
while a== "1234":
    print("Wrong Password")
    a=input("Enter the Password again:")
print("Welcome to python")

In [ ]:
i=1
while i<=10:
    print("welcome to python", i)
    i+=1#i=i+1

In [ ]:
n=int(input("enter the num: "))
sum=0
while n>0:
    sum+=n#
    n-=1
    print("these are n values:", n)
    print("these are sum of values:", sum)

In [ ]:
#break, continue, pass

In [ ]:
#break point
sum1=0
while True:
    num =int(input("enter the number: "))
    sum1+=1
    print(sum1)
    if num==0:
        break
    print("come out from loop", sum)

In [ ]:
num=1
while num<=10:
    num+=1
    if num==5:
        continue
    print(num)

In [ ]:
a="ganesh"
for i in a:
    if i=="n":
        continue
    print(i, end=" ")

In [ ]:
num=0
while len(a)>num:
    a=input("enter name:")
    if a=="radha":
        continue
    num+=1
    print(a)

In [ ]:
num=0
while len(a)>num:
    a=input("enter name:")
    if a=="radha":
        pass
    num+=1
    print(a)

In [ ]:
num=0
while len(a)>num:
    a="ganesh"
    if a=="ganesh":
        continue
    num+=1
    print(a)

In [ ]:
a="ganesh"
for i in a:
    if i=="n":
        pass
    print(i, end=" ")

In [ ]:
def add():
    pass

In [ ]:
class Add:
    pass

In [ ]:
def flat(lis):
    flatList = []
    # Iterate with outer list
    for element in lis:
        if type(element) is list:
            # Check if type is list than iterate through the sublist
            for item in element:
                flatList.append(item)
        else:
            flatList.append(element)
    return flatList
lis = [[11, 22, 33, 44], [55, 66, 77], [88, 99, 100]]
print('List', lis)
print('Flat List', flat(lis))

In [ ]:
# Original list
lis = [[11, 22, 33, 44], [55, 66, 77], [88, 99, 100]]

# iterate through the sublist using List comprehension
flatList = [element for innerList in lis for element in innerList]

# printing original list
print('List', lis)
# printing flat list
print('Flat List', flatList)

In [ ]:
# input list
l = [1, 2, [3, 4, [5, 6]], 7, 8, [9, [10]]]

# output list
output = []

# function used for removing nested
# lists in python using recursion
def reemovNestings(l):
    for i in l:
        if type(i) == list:
            reemovNestings(i)
        else:
            output.append(i)


# Driver code
print('The original list: ', l)
reemovNestings(l)
print('The list after removing nesting: ', output)

In [ ]:
import numpy as np

lst = [[11, 33], [22, 55], [11], [77, 88]]

new = list(np.concatenate(lst))

print(new)

In [ ]:

lis = [[11, 22, 33, 44], [55, 66, 77], [88, 99]]

flatList = sum(lis, [])

print('New list', flatList)

In [ ]:
import functools
import operator

# Original list
lis = [[11, 22, 33, 44], [55, 66, 77], [88, 99, 100]]

flatList = functools.reduce(operator.iconcat, lis, [])

# printing original list
print('List', lis)
# printing flat list
print('Flat List', flatList)

In [ ]:
lis = [[11, 22, 33, 44], [55, 66, 77], [88, 99, 100]]
res=[]
for i in lis:
    res.extend(i)
print('List', lis)
print('Flat List', res)