<a href="https://colab.research.google.com/github/rganesh203/Python-Core-Fundamentals/blob/main/Day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
d={}

In [ ]:
type(d)

In [ ]:
f=set(d)

In [ ]:
type(f)

In [ ]:
?f.add

In [ ]:
f

In [ ]:
g=f.copy()

In [ ]:
g

In [ ]:
x={1,2,3}
y={2,3,4}

In [ ]:
x.difference(y)

In [ ]:
#casefold is unicode
#lower is ASCII

In [ ]:
x = "ganesh\n"
print(x.split('/'))  # Using double quotes inside split()

In [ ]:
x = r"ganesh\n"
print(x.split('\\'))

In [ ]:
 a = "1\2\3\4"

print(a.split("\\"))

In [ ]:
r=int(input("enter the number: "))

In [ ]:
type(r)

In [ ]:
?range

In [ ]:
range(10)

In [ ]:
list(range(10))

In [ ]:
type(range(10))

In [ ]:
list(range(2,10,2))
# 1 is include
#10 is exclude
#2 is increment
#1, 1+2, 3+2, 5+2, 7+2

In [ ]:
list(range(5,20,-2))

In [ ]:
list(range(5,-22))

In [ ]:
#c for, while, dowhile
#in python for, while

In [ ]:
#syntax: for variable in statement:
for i in range(10):
    print(i, end=", ")

In [ ]:
#conditions
#if
"""syntax: if ____:
        statement
    else:
        statement
    elif   """

In [ ]:
w=input("enter the statement")

In [ ]:
if w=="Radharam ganesh":
    print("correct")
else:
    print("not matching with user input")

In [ ]:
#if elif statemet
""" A>90
    B-80-90
    C-70-80
    D-60-70
    E
    """

In [ ]:
num=int(input("enter the marks: "))
#print(num)
if num>=90:
    print("grade=A")
elif num>=80:
    print("grade=B")
elif num>=70:
    print("grade=c")
else:
    print("grade=E")

In [ ]:
a=20

In [ ]:
print("a")

In [ ]:
print(a)

In [ ]:
t=input("enter some data: ")

In [ ]:
for i in range(10):
    print(i,end= ", ")

In [ ]:
str1="pythonprogramming"

In [ ]:
list1=[1,2,3,4]

In [ ]:
for i in list1:
    print(i, end=",")

In [ ]:
sum=0
for i in range(1,11):
    sum=sum+i
    print(sum)
#i=1, sum=1
#i=2, sum=1+2

In [ ]:
#while loop

syntax:
initialization
while <condition>:
    increment
    statement 1
    statement 2

In [ ]:
s=input("enter the passwword" )

In [ ]:
while s=="python":
    print("correct password")
    if s=="Python":
        break

In [ ]:
#i++, ++i

In [ ]:
sum=0
while True:
    num=int(input("enter value: "))
    sum=sum+num #sum+=num
    print(sum)
    if num ==0:
        break
    print("the final value of sum is:",sum)

In [ ]:
sum=0
while sum<10:
    num=int(input("enter value: ")) #2
    sum=sum+num #first iteration is 2
    print(sum)

In [ ]:
#exmaple
i=0
while i<5:
    print(i)
    i+=1#i=i+1

In [ ]:
str1="python program"

In [ ]:
for i in str1:
    #print(i, end=" ")
    if i=="y":
        break
    print(i)

In [ ]:
list2=[1,2,3,"q", 5,4]

In [ ]:
for j in list2:
    if j==2:
        continue
    print(j)

In [ ]:
for j in list2:
    if j==2:
        pass
    print(j)

In [ ]:
#format very method in string
d=45

In [ ]:
print(f'for only {d: .2f} dollars!')

In [ ]:
strin2="for only {d: .4f} dollar!"

In [ ]:
print(strin2.format(d=45))

#indexing

In [ ]:
str3="python programming"

In [ ]:
#[] which means to access all elements in side string, list, tuple and so on

In [ ]:
len(str3)

In [ ]:
str3[19]

In [ ]:
str3[-3]

In [ ]:
str3[-7]

#slicing
#str3[start:end:step]

In [ ]:
str3[3:11]

In [ ]:
str3[3:11:2]

In [ ]:
str3[1:]

In [ ]:
str3[::] #same as str3

In [ ]:
str3[::2]

In [ ]:
str3[-12:] #sames as

In [ ]:
str3[6::]

In [ ]:
str3[-12:-1]

In [ ]:
str3[::-1] #same as str3[0::-1]

In [ ]:
list3=[1,2,3,'ganesh','radha']

In [ ]:
list3[0]

In [ ]:
list3[3][2]

In [ ]:
list3[4][2]

In [ ]:
list3[-1:-3:]

In [ ]:
list3[3][4]

In [ ]:
list3[1:]

In [ ]:
#boolean methods

In [ ]:
lis4=["a.txt","b.txt","c.pdf","d.pdf"]

In [ ]:
lis4

In [ ]:
for i in lis4:
    print(i)

In [ ]:
for i in lis4:
    if i.endswith("pdf"):
        print(i)

In [ ]:
"hello".startswith("h")

In [ ]:
lis4

In [ ]:
"123".isdigit()

In [ ]:
a=input("enter the value: ")
if a.isalnum():
    a=eval(a)
    print(a,type(a))
else:
    print("it is string")

In [ ]:
eval("56")

In [ ]:
"g123".isalnum()

In [ ]:
string function
len()
min()
max()

In [ ]:
str2="python"

In [ ]:
max(str2)

In [ ]:
min(str2)

In [ ]:
ord("y")

In [ ]:
for i in str2:
    print(i,"---->",ord(i))

In [ ]:
min("hello#")

In [ ]:
#tuple methods

#Today assessment
1. list1= [1,2,3,4,5,6] print all even numbers from list?
2. list2 =[2,5,3,2,32,4,454,9] sorted elements?
3. list1= [1,2,3,4,5,6] print all odd numbers from list?
4. take user input list using for loop print all elements startswith "a"?
5. using while loop sum of all elements inside list?